<div class="body">
    <div class="login-container">
        <div class="left-section">
            <div class="logo">
                <img src="../../assets/images/logo.svg" alt="NSOC Logo">
                <h1>Invoice Web App</h1>
            </div>
        </div>
        <div class="right-section">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <app-input-field type="email" label="Email" [control]="getControl('username')"></app-input-field>

    <app-input-field type="password" label="Password" [control]="getControl('password')"></app-input-field>

    <app-button          customClass="signin"
 label="Sign In" type="submit"></app-button>
</form>

        </div>
    </div>
</div>

