<div class="body">
    <div class="container">
        <div class="login-section">
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
                <app-input-field type="email" label="Email" [control]="getControl('username')"></app-input-field>

                <app-input-field type="password" label="Password" [control]="getControl('password')"></app-input-field>
                <br>

                <app-button customClass="login-btn" label="Sign In" type="submit"></app-button>
            </form>
        </div>
        <div class="info-section">
            <app-icon [src]="'assets/images/login.svg'"></app-icon>
        </div>
    </div>
</div>