.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-box {
    z-index: 2;
    background: white;
    width: 32%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.text{
    color: var(--grey-medium);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cancel-button {
    background-color: #F9FAFE;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #7E88C3;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cancel-button:hover {
    background-color: #DFE3FA;
}

.delete-button {
    background-color: #EC5757;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.delete-button:hover {
    background: #FF9797;
}

@media screen and (max-width: 1031px) {
    .dialog-box {
        width: 65%;
    }
}
@media screen and (max-width: 600px) {
    .dialog-box {
        width: 75%;
    }
}