.btn{
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
line-height: 15px;
letter-spacing: -0.25px;
text-align: left;
display: flex;
    align-items: center;
    justify-content: center;
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.5 ;
}

.btn:disabled:hover {
    cursor: not-allowed !important;
}