@font-face {
  font-family: 'Spartan';
  src: url('assets/spartan/LeagueSpartan-Black.ttf') format('truetype'),
       url('assets/spartan/LeagueSpartan-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
    /* Primary Colors */
    --primary-color: #7C5DFA; 
    --primary-light: #9277FF; 
  
    /* Secondary Colors */
    --secondary-color: #1E2139; 
    --secondary-dark: #252945; 
  
    /* Neutral Colors */
    --grey-light: #DFE3FA; 
    --grey-medium: #888EB0; 
    --grey-dark: #7E88C3; 
  
    /* Base and Background Colors */
    --base-black: #0C0E16; 
    --dark-bg: #141625; 
    --light-bg: #F8F8FB;
  
    /* Error Colors */
    --error-color: #EC5757;
    --error-light: #FF9797; 

    --white-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Spartan', sans-serif;
  background-color: var(--light-bg);
}

body[data-theme='dark'] {
  background-color: var(--dark-bg);
  color: #fff;
}